.gameScreenContainer {
  display: grid;
  justify-content: center;
  background: url("/tiles/grass.png");
}

.mapWrapper {
  position: relative;
  width: 880px;
  height: 600px;
}

.header {
  background: #9e6742;
  background: -moz-linear-gradient(
    top,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  background: -webkit-linear-gradient(
    top,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  background: linear-gradient(
    to bottom,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e6742', endColorstr='#9e6742', GradientType=0);
}

.blink {
  position: absolute;
  top: 205px;
  right: 25%;
  width: 40px;
  height: 40px;
  background: url("/tiles/arrow.png") no-repeat;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
