@import "variables.scss";

.header {
  font-family: "Charm", cursive;
  background: #9e6742;
  background: -moz-linear-gradient(
    top,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  background: -webkit-linear-gradient(
    top,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  background: linear-gradient(
    to bottom,
    #9e6742 0%,
    #eedcc6 16%,
    #eedcc6 34%,
    #9e6742 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e6742', endColorstr='#9e6742', GradientType=0);
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 1140px;
  min-height: 72px;
  padding: 0.2rem 2rem;
}

.headerUl {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
}

.headerUl li {
  list-style-type: none;
  font-size: 1rem;
}

.sound {
  @include listImg;
  background: url(/tiles/horn.svg) 0 0 no-repeat;
}

.soundMute {
  filter: sepia(1);
}

.swords {
  @include listImg;
  width: 36px;
  height: 36px;
  margin-top: 0.5rem;
  background: url(/tiles/sword.svg) 0 0 no-repeat;
}
