@import "variables.scss";

.taskScreen {
  @include taskScreen;
}

.questionContainer {
  margin-bottom: 4rem;
  text-align: center;
}

.questionTitle {
  margin: 0 0 2rem 1rem;
}

.answerVariants {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.answerVariantContainer {
  padding: 1rem;
  max-width: 150px;
  max-height: 130px;
  text-align: center;
  border: 1px solid $light-gray;
  border-radius: 8px;

  &:hover {
    border-color: $dark-gray;
  }
}

.answerVariant {
  font-size: 10vw;
}

.correct.correct {
  border-color: $green;
}

.error.error {
  border-color: $red;
}

.questionLetter {
  line-height: 11.5rem;
}
