@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navLink {
  @include navLink;
}

.ant-modal-footer,
.ant-modal-header {
  display: none;
}

.ant-modal-body {
  display: flex;
  justify-content: space-around;
  background: url(/tiles/paperBackground.png);
  border: 4px solid transparent;
  border-image: url(/tiles/border.png) 5 round round;
}
