@import "variables.scss";

.link {
  position: relative;
  font-family: "Charm", cursive;
  text-align: center;
  color: $dark-gray;

  &:hover {
    color: $purple;
  }
}

.title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.imgContainer {
  width: 50px;
  height: 50px;
  margin: 0 auto 0.4rem;
}

.math {
  position: relative;
  background: url(/tiles/calculator.svg) 50% 50% no-repeat;
}

.simple {
  @include levelImg;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  background: url(/tiles/feather.svg) 0 0 no-repeat;
}

.middle {
  @include levelImg;
  background: url(/tiles/gym.svg) 0 0 no-repeat;
}

.hard {
  @include levelImg;
  right: -6px;
  background: url(/tiles/weight.svg) 0 0 no-repeat;
}

.alphabet {
  background: url(/tiles/alphabet.svg) 0 0 no-repeat;
}
