@import "variables.scss";

.link {
  position: relative;
  font-family: "Charm", cursive;
  text-align: center;
  color: $dark-gray;

  &:hover {
    color: $purple;
  }
}

.title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.imgContainer {
  width: 50px;
  height: 50px;
  margin: 0 auto 0.4rem;
}

.math {
  position: relative;
  background: url(/tiles/calculator.svg) 50% 50% no-repeat;
}

.simple {
  @include levelImg;

  filter: invert(36%) sepia(77%) saturate(1121%) hue-rotate(58deg)
    brightness(92%) contrast(89%);
}

.middle {
  @include levelImg;
  filter: invert(73%) sepia(53%) saturate(802%) hue-rotate(345deg)
    brightness(99%) contrast(105%);
}

.hard {
  @include levelImg;
  filter: invert(34%) sepia(45%) saturate(2940%) hue-rotate(343deg)
    brightness(99%) contrast(97%);
}

.alphabet {
  background: url(/tiles/alphabet.svg) 0 0 no-repeat;
}
